body{
    background : linear-gradient(to right,#503143,#253C62 );
    display: flex; flex-direction: column; align-items: center; width: 100%;height: 500px;
}
#contenair{ 
    display: flex;  flex-direction: column ; height: 600px; align-items: center;padding-top: 35px;
  
}
#contenair>div {
    width: 250px;height:70px; display: flex; flex-direction: column;align-items: flex-start;
}
#contenair>div label {
    color: white; padding-bottom: 5px;
}
#contenair>div input{
    background-color: #272538; width: 210px; height: 25px; border-radius: 5px; 
    color: white; border: none;
}
div>textarea {
    background-color: #272538; width: 210px; color: white; border: none;
    border-radius: 5px;height: 50px;
}
#button-sub {
    color: white; width: 210px; height: 25px; text-align: center;background-color: #272538; 
    margin-top: 10px; margin-right: 35px;border: none; border-radius: 5px; font-size: 10px;
    cursor: pointer;
}
#button-res {
        color: white; width: 210px; height: 25px; text-align: center;background-color: #272538; 
        margin-top: 10px; margin-right: 35px;border: none; border-radius: 5px; font-size: 10px;
        cursor: pointer;     
}